@media print {
  :root {
    font-size: 20px;
  }

  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  .Toastify {
    display: none;
  }
}
